# msvc
src/Debug
src/Release
src/ReleasePublic
src/.vs
.vs

# cmake
src/out
src/CMakeSettings.json
.tools/
build-local/
cmake-*-windows-*.zip
__pycache__/
*.py[cod]

# srv bin files
bin/*.exe
bin/*.manifest
bin/*.ilk
bin/*.pdb
bin/*.log
bin/*.db3
bin/Logs
bin/platforms

Releases
